<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="OnTheDoor" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <div class="row">
      <br>
      <br>
      <p class="lead">
        Select Your Office Hour Times:
      </p>
    </div>
  </div>
  <div>
    <form>
      <table align="center">
        <tr>
          <td>
            <h4>Monday</h4>
            <input type="checkbox" name="before8" value="<8" unchecked> Monday &lt;8am
            <br>
            <input type="checkbox" name="at8" value="8" unchecked> Monday 8am
            <br>
            <input type="checkbox" name="at9" value="9" unchecked> Monday 9am
            <br>
            <input type="checkbox" name="at10" value="10" unchecked> Monday 10am
            <br>
            <input type="checkbox" name="at11" value="11" unchecked> Monday 11am
            <br>
            <input type="checkbox" name="at12" value="12" unchecked> Monday 12 noon
            <br>
            <input type="checkbox" name="at1" value="1" unchecked> Monday 1pm
            <br>
            <input type="checkbox" name="at2" value="2" unchecked> Monday 2pm
            <br>
            <input type="checkbox" name="at3" value="3" unchecked> Monday 3pm
            <br>
            <input type="checkbox" name="at4" value="4" unchecked> Monday 4pm
            <br>
            <input type="checkbox" name="after5" value="5<" unchecked> Monday 5pm&#60;
          </td>
          <td>
            <h4>Tuesday</h4>
            <input type="checkbox" name="before8" value="<8" unchecked> Tuesday &lt;8am
            <br>
            <input type="checkbox" name="at8" value="8" unchecked> Tuesday 8am
            <br>
            <input type="checkbox" name="at9" value="9" unchecked> Tuesday 9am
            <br>
            <input type="checkbox" name="at10" value="10" unchecked> Tuesday 10am
            <br>
            <input type="checkbox" name="at11" value="11" unchecked> Tuesday 11am
            <br>
            <input type="checkbox" name="at12" value="12" unchecked> Tuesday 12 noon
            <br>
            <input type="checkbox" name="at1" value="1" unchecked> Tuesday 1pm
            <br>
            <input type="checkbox" name="at2" value="2" unchecked> Tuesday 2pm
            <br>
            <input type="checkbox" name="at3" value="3" unchecked> Tuesday 3pm
            <br>
            <input type="checkbox" name="at4" value="4" unchecked> Tuesday 4pm
            <br>
            <input type="checkbox" name="after5" value="5<" unchecked> Tuesday 5pm&#60;
          </td>
          <td>
            <h4>Wednesday</h4>
            <input type="checkbox" name="before8" value="<8" unchecked> Wednesday &lt;8am
            <br>
            <input type="checkbox" name="at8" value="8" unchecked> Wednesday 8am
            <br>
            <input type="checkbox" name="at9" value="9" unchecked> Wednesday 9am
            <br>
            <input type="checkbox" name="at10" value="10" unchecked> Wednesday 10am
            <br>
            <input type="checkbox" name="at11" value="11" unchecked> Wednesday 11am
            <br>
            <input type="checkbox" name="at12" value="12" unchecked> Wednesday 12 noon
            <br>
            <input type="checkbox" name="at1" value="1" unchecked> Wednesday 1pm
            <br>
            <input type="checkbox" name="at2" value="2" unchecked> Wednesday 2pm
            <br>
            <input type="checkbox" name="at3" value="3" unchecked> Wednesday 3pm
            <br>
            <input type="checkbox" name="at4" value="4" unchecked> Wednesday 4pm
            <br>
            <input type="checkbox" name="after5" value="5<" unchecked> Wednesday 5pm&#60;
          </td>
          <td>
            <h4>Thursday</h4>
            <input type="checkbox" name="before8" value="<8" unchecked> Thursday &lt;8am
            <br>
            <input type="checkbox" name="at8" value="8" unchecked> Thursday 8am
            <br>
            <input type="checkbox" name="at9" value="9" unchecked> Thursday 9am
            <br>
            <input type="checkbox" name="at10" value="10" unchecked> Thursday 10am
            <br>
            <input type="checkbox" name="at11" value="11" unchecked> Thursday 11am
            <br>
            <input type="checkbox" name="at12" value="12" unchecked> Thursday 12 noon
            <br>
            <input type="checkbox" name="at1" value="1" unchecked> Thursday 1pm
            <br>
            <input type="checkbox" name="at2" value="2" unchecked> Thursday 2pm
            <br>
            <input type="checkbox" name="at3" value="3" unchecked> Thursday 3pm
            <br>
            <input type="checkbox" name="at4" value="4" unchecked> Thursday 4pm
            <br>
            <input type="checkbox" name="after5" value="5<" unchecked> Thursday 5pm&#60;
          </td>
          <td>
            <h4>Friday</h4>
            <input type="checkbox" name="before8" value="<8" unchecked> Friday &lt;8am
            <br>
            <input type="checkbox" name="at8" value="8" unchecked> Friday 8am
            <br>
            <input type="checkbox" name="at9" value="9" unchecked> Friday 9am
            <br>
            <input type="checkbox" name="at10" value="10" unchecked> Friday 10am
            <br>
            <input type="checkbox" name="at11" value="11" unchecked> Friday 11am
            <br>
            <input type="checkbox" name="at12" value="12" unchecked> Friday 12 noon
            <br>
            <input type="checkbox" name="at1" value="1" unchecked> Friday 1pm
            <br>
            <input type="checkbox" name="at2" value="2" unchecked> Friday 2pm
            <br>
            <input type="checkbox" name="at3" value="3" unchecked> Friday 3pm
            <br>
            <input type="checkbox" name="at4" value="4" unchecked> Friday 4pm
            <br>
            <input type="checkbox" name="after5" value="5<" unchecked> Friday 5pm&#60;
          </td>
        </tr>
      </table>
      <br>
      <input type="submit" value="Submit Times">
    </form>
  </div>
</section>
