<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="OnTheDoor" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Office Hours Lookup
      </p>
    </div>
  </div>
  <div>
    <!-- <h2>Welcome to the OnTheDoor Office Hours Lookup!</h2> -->
    <a href="/getTimes" role="button">go to possible-way-to-input-hours page</a>
    <br>
    <br>
    <!-- <p>Need a way to select specific teacher (or see all at once) -
      maybe ability to select multiple teachers at once (like with google calendar).</p>
    <p>Need some kind of table/calendar here to display hours - this one is currently using my google account -
      if the school or whatever wanted to use this app they should set it up with their own calendar.</p>
    <iframe src="https://calendar.google.com/calendar/embed?src=9i2j0d4svb6f7vdqv816lbmbuc%40group.calendar.google.com&ctz=America/Los_Angeles"
      style="border: 0" width="700" height="600" frameborder="0" scrolling="no"></iframe>
    <p>Of if the calendar doesn't work quite right, we could also do something along the lines of this,
      and somehow for each professor fill in the boxes for times when they're available -
      it's still not entirely clear how the css works to change the color of the background of
      rectangles after they're clicked. It currently just flashes another color...</p>
    <table border="2">
      <tr>
        <td id="homepgtd">Start Time:</td>
        <td id="homepgtd">Monday</td>
        <td id="homepgtd">Tuesday</td>
        <td id="homepgtd">Wednesday</td>
        <td id="homepgtd">Thursday</td>
        <td id="homepgtd">Friday</td>
        <td id="homepgtd">Saturday</td>
        <td id="homepgtd">Sunday</td>
      </tr>
      <tr>
        <td id="homepgtd">&#60;8am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">8am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">9am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">10am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">11am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">12 noon</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">1pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">2pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">3pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">4pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td id="homepgtd">5pm&#60;</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
    </table> -->

    <!-- Displays all Inputted Hours -->
    <section class="ng-scope" ng-controller="HoursController" ng-init="find()">
      <div class="list-group">

        <!-- Dropdown menu to select specific professor-->
        <select id="dropdownButton">Teachers
          <option>Select Professor</option>
          <option ng-repeat="hour in hours">{{hour.title}}</option>
        </select>
        <br>
        <br>

        <!-- Need some way to only show specific prof's hours -->

        <a ng-repeat="hour in hours" ui-sref="hours.view({hourId: hour._id})" class="list-group-item" id="showIfBlank">
          <small class="list-group-item-text">
            Posted on
            <span ng-bind="hour.created | date:'mediumDate'"></span>
            by
            <span ng-bind="hour.user.displayName"></span>
          </small>
          <h4 class="list-group-item-heading" ng-bind="hour.title"></h4>
          <!-- <p class="list-group-item-text" ng-bind="hour.classesTaught"></p>
          <p class="list-group-item-text" ng-bind="hour.office"></p>
          <p class="list-group-item-text" ng-bind="hour.content"></p> -->
          <p class="list-group-item-text">Classes Taught: {{hour.classesTaught}}</p>
          <p class="list-group-item-text">Office: {{hour.office}}</p>
          <p class="list-group-item-text">Hours: {{hour.content}}</p>
        </a>

      </div>
      <div class="alert alert-warning text-center" ng-if="hours.$resolved && !hours.length">
        No hours listed! Please <a ui-sref="hours.create">add some</a>?
      </div>
    </section>
  </div>
</section>
