<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="OnTheDoor" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        Office Hours Lookup
      </p>
    </div>
  </div>
  <div>
    <h2>Welcome to the OnTheDoor Office Hours Lookup!</h2>
    <p>Need a way to select specific teacher (or see all at once) -
      maybe ability to select multiple teachers at once (like with google calendar).</p>
    <p>Need some kind of table/calendar here to display hours - this one is currently using my google account -
      if the school or whatever wanted to use this app they should set it up with their own calendar.</p>
    <iframe src="https://calendar.google.com/calendar/embed?src=9i2j0d4svb6f7vdqv816lbmbuc%40group.calendar.google.com&ctz=America/Los_Angeles"
      style="border: 0" width="700" height="600" frameborder="0" scrolling="no"></iframe>
    <p>Of if the calendar doesn't work quite right, we could also do something along the lines of this,
      and somehow for each professor fill in the boxes for times when they're available -
      it's still not entirely clear how the css works to change the color of the background of
      rectangles after they're clicked. It currently just flashes another color...</p>
    <table border="2">
      <tr>
        <td>Time:</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
        <td>Sunday</td>
      </tr>
      <tr>
        <td>&#60;8am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>8am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>9am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>10am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>11am</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>12pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>1pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>2pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>3pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>4pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>5pm</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
      <tr>
        <td>5pm&#62;</td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
        <td class="tocheck"> </td>
      </tr>
    </table>
    <div><p></p></div>  <!-- for spacing at the bottom of the page -->
  </div>
</section>
