<section ng-controller="HoursController" ng-init="find()">
  <div class="page-header">
    <h1>Professor Office Hours</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="hour in hours" ui-sref="hours.view({hourId: hour._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="hour.created | date:'mediumDate'"></span>
        by
        <span ng-bind="hour.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="hour.title"></h4>
      <!-- <p class="list-group-item-text" ng-bind="hour.classesTaught"></p>
      <p class="list-group-item-text" ng-bind="hour.office"></p>
      <p class="list-group-item-text" ng-bind="hour.content"></p> -->
      <p class="list-group-item-text">Classes: {{hour.classesTaught}}</p>
      <p class="list-group-item-text">Office: {{hour.office}}</p>
      <p class="list-group-item-text">Hours: {{hour.content}}</p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="hours.$resolved && !hours.length">
    No hours listed! Please <a ui-sref="hours.create">add some</a>?
  </div>
</section>
